<form  action="/band" method="post">
  <input type="text" name="name" placeholder="Enter Name of Band">

  <button type="submit" class = "btn btn-submit">Submit</button>
</form>





<h2> Add a Venue to Band's played@ list </h2>
<form action="/venue" method="post">
  <% @venues.each do |v| %>
  <input type="checkbox" name="some_name" value="<%= v.name %>">
  <% end %>
  <button type="submit">Update</button>
</form>
